!!! 5
html
  head
    link(href="css/styles.css", rel="stylesheet")
    script(src="js/jquery.js")
    script(src="js/scripts.js")
  body
    h1 Timer
    .ex
      h2 Jumping Squats 
      .time 30
    .ex
      h2 Lunges
      .time 60
    .ex
      h2 T-bone Pushups
      .time 30