body
  background white
  color      black
  font 16px/1.5 'Helvetica', 'Arial', sans-serif

.ex
  clear both
  padding 40px 0
  border-bottom solid 1px #ccc
  &.active
    background #ddd

.time
  text-align right
  font-size 108px

