h1 Core and Arms
ul.ex-list
  li.ex-item
    i.icon.bridge
    p.ex-text Staggered Bridge
  li.ex-item
    i.icon.ball-pike
    p.ex-text Ball Pike
  li.ex-item
    i.icon.bike-crunch
    p.ex-text Bicycle Crunch
  li.ex-item
    i.icon.ball-leg-raise
    p.ex-text Ball Leg Raise
  li.ex-item
    i.icon.ball-bridge
    p.ex-text Ball Bridge
  li.ex-item
    i.icon.side-bridge
    p.ex-text Side Bridge
  li.ex-item
    i.icon.static-arm-curl
    p.ex-text Static Arm Curl
  li.ex-item
    i.icon.skullcrusher
    p.ex-text Skullcrusher
  li.ex-item
    i.icon.pullup
    p.ex-text Pullup
  li.ex-item
    i.icon.lunge-curl
    p.ex-text Lunging Curl
  li.ex-item
    i.icon.dips
    p.ex-text Dips
  li.ex-item
    i.icon.dumbell-rows
    p.ex-text Dumbell Rows
  li.ex-item
    i.icon.cable-curl
    p.ex-text Cable Curl
  li.ex-item
    i.icon.rope-pulldown
    p.ex-text Rope Pulldown